body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #C2C2FF !important;
}
a {
  color: #00B7FF;
}
.hide {
  dispaly: none;
}
.hand {
  cursor: pointer;
}
#content-container {
  min-height: 100%;
  width: 1000px;
  border: none;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  background-color: #EBEBFF;
  padding: none;
}
#left-container {
  border-right: 1px solid #d6d6ff;
  padding: 1em;
  overflow: auto;
  min-height: 100%;
  /*    background-color: blue;*/
}
#right-container {
  padding: 1em;
  overflow: auto;
  min-height: 100%;
  /*    background-color: green;*/
}
.input-icon {
  width: 10%;
  color: #1f1f99;
  text-align: center;
  font-size: 1.2em !important;
  position: relative;
  top: 0.2em;
}
.my-user {
  border-bottom: 1px solid #d6d6ff;
  padding-bottom: 2em;
}
.my-input-container {
  padding-top: 0.5em;
}
.my-input {
  width: 80%;
  background-color: transparent;
  border: none;
  outline: none;
  margin-left: 0.5em;
}
.input-bottom {
  height: 1px;
  width: 80%;
  margin-left: 11%;
  background-color: #1f1f99;
  margin-top: 0.2em;
  display: inline-block;
  float: left;
}
.focus-bottom {
  height: 2px !important;
}
.focus-icon {
  color: #8585ff !important;
}
.validate-error .input-icon {
  color: #b20000;
}
.validate-error .input-bottom {
  background-color: #b20000;
}
.bottom-slider {
  width: 0%;
  background-color: #8585ff !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
}
.rooms-nav {
  display: inline-block;
  width: 100%;
  padding: 0.1em;
  text-align: center;
  font-size: 1.5em !important;
}
.my-rooms {
  padding: 0.5em;
}
.my-room {
  margin-top: 0.5em;
  width: 100%;
}
.room-icon {
  width: 25%;
  text-align: center;
}
.room-name {
  width: 70%;
}
.current-room {
  font-weight: bold;
}
.chat-messages {
  width: 100%;
  min-height: 75%;
  border-bottom: 1px solid #d6d6ff;
}
.chat-bar {
  width: 100%;
  min-height: 23%;
}
@media (max-width: 1000px) {
  #left-container {
    min-height: 20%;
  }
  #right-container {
    min-height: 68%;
    max-height: 68%;
  }
  .my-rooms {
    border-bottom: 1px solid #d6d6ff;
  }
  .chat-messages {
    width: 100%;
    min-height: 50%;
    border-bottom: 1px solid #d6d6ff;
  }
  .chat-bar {
    width: 100%;
    min-height: 33%;
  }
}
