@borders: 1px solid #D6D6FF;
@focus-colour: #8585FF !important;
@default-colour: #1F1F99;
@pad-sm: 0.5em;
@pad-lg: 1em;
@error-color: #B20000;

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #C2C2FF !important;
}

h4, h2, h3, h5 {
    color: #3366FF !important;
}

a {
  color: #00B7FF;
}

.hide {
    dispaly: none;
}

.hand {
    cursor: pointer;
}

#content-container {
    min-height: 100%;
    width: 1000px;
    border: none;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    background-color: #EBEBFF;
    padding: none;
}

#left-container {
    border-right: @borders;
    padding: 1em;
    overflow: auto;
    min-height: 100%;
/*    background-color: blue;*/
}

#right-container {
    padding: 1em;  
    overflow: auto;
    min-height: 100%;
/*    background-color: green;*/
}

.input-icon {
    width: 10%;
    color: @default-colour;
    text-align: center;
    font-size: 1.2em !important;
    position: relative;
    top: 0.2em;
}

.my-user {
    border-bottom: @borders;
    padding-bottom: 2em;
}

.my-input-container {
    padding-top: 0.5em;
}

.my-input {
    width: 80%;
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 0.5em;
}

.input-bottom {
    height: 1px;
    width: 80%;
    margin-left: 11%;
    background-color: @default-colour;
    margin-top: 0.2em;
    display: inline-block;
    float: left;
}

.focus-bottom {
     height: 2px !important;
}

.focus-icon {
    color: @focus-colour;   
}

.validate-error .input-icon {
    color: @error-color;
}

.validate-error .input-bottom {
    background-color: @error-color;
}

.bottom-slider {
    width: 0%;
    background-color: @focus-colour;   
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
}

.rooms-nav {
    display: inline-block;
    width: 100%;
    padding: 0.1em;
    text-align: center;
    font-size: 1.5em !important;
}

.my-rooms {
    padding: 0.5em;
}

.my-room {
    margin-top: 0.5em;
    width: 100%;
}

.room-icon {
    width: 25%;
    text-align: center;
}

.room-name {
    width: 70%;
}

.current-room {
    font-weight: bold;
}

.chat-messages {
    width: 100%;
    min-height: 75%;
    border-bottom: @borders;
    overflow: hidden;
}

.chat-messages-container {
    overflow: auto;
    height: 30em;
    border-right: @borders;
}

.chat-users-container {
    overflow: auto;
    height: 30em;
    padding: 1.5em !important;
}
.chat-users-container ul {
    list-style-type: none;
}
.chat-users-container ul li {
    font-weight: bold;
    font-size: 0.8em;
    font-style: italic;
    padding: 0.2em;
}
.chat-bar {
    width: 100%;
    min-height: 5em
}

.chat-table {
    display: table;
    margin-top: 0.5em;
}

.chat-row {
    width: 100%;
    padding: 0.2em;
    display: table-row;
}

.chat-user, .chat-message, .chat-time {
    display: table-cell;
    padding: 0.2em !important;
}

.chat-user {
    font-weight: bold;
    font-size: 0.8em;
    font-style: italic;
    width: 20%;
}

.chat-message {
    font-family: tahoma;
    font-size: 0.9em;
    width: 60%;   
}

.chat-time {
    font-size: 0.7em !important;
}

@media (max-width: 1000px) {
    #left-container {
        min-height: 8em;
    }
    #right-container {
        min-height: 40em;
    }
    .my-rooms {
        border-bottom: @borders;
    }
    .chat-messages {
        width: 99%;
        min-height: 20em !important;
        border-bottom: @borders;
    }
    .chat-bar {
        width: 99%;
        min-height: 5em;
    }
    .chat-messages-container, .chat-users-container {
        height: 20em;
    }
}