body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #C2C2FF !important;
}
h4,
h2,
h3,
h5 {
  color: #3366ff !important;
  padding-bottom: 0.5em !important;
}
a {
  color: #3366ff !important;
}
/* common classes */
.hide {
  dispaly: none;
}
.hand {
  cursor: pointer;
}
/* Page layout */
#content-container {
  min-height: 100%;
  width: 1000px;
  border: none;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  background-color: #EBEBFF;
  padding: none;
}
#left-container {
  border-right: 1px solid #d6d6ff;
  padding: 1em;
  overflow: auto;
  min-height: 100%;
  /*    background-color: blue;*/
}
#right-container {
  padding: 1em;
  overflow: auto;
  min-height: 100%;
  /*    background-color: green;*/
}
.my-user {
  border-bottom: 1px solid #d6d6ff;
  padding-bottom: 2em;
}
/* myInput directive */
.input-icon {
  width: 10%;
  color: #1f1f99;
  text-align: center;
  font-size: 1.2em !important;
  position: relative;
  top: 0.2em;
}
.my-input-container {
  padding-top: 0.5em;
}
.my-input {
  width: 80%;
  background-color: transparent;
  border: none;
  outline: none;
  margin-left: 0.5em;
}
.input-bottom {
  height: 1px;
  width: 80%;
  margin-left: 11%;
  background-color: #1f1f99;
  margin-top: 0.2em;
  display: inline-block;
  float: left;
}
.focus-bottom {
  height: 2px !important;
}
.focus-icon {
  color: #8585ff !important;
}
.validate-error .input-icon {
  color: #b20000;
}
.validate-error .input-bottom {
  background-color: #b20000;
}
.bottom-slider {
  width: 0%;
  background-color: #8585ff !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
}
/* rooms and navigate rooms on small screens */
.rooms-nav {
  display: inline-block;
  width: 100%;
  padding: 0.1em;
  text-align: center;
  font-size: 1.5em !important;
}
.rooms-nav:hover {
  background-color: #d6e0f5;
  color: #52527a;
}
.my-rooms {
  padding: 0.5em;
}
.my-room {
  margin-top: 0.5em;
  padding: 0.2em;
  width: 100%;
  height: 2em;
  position: relative;
  overflow: hidden;
}
.my-room:hover {
  background-color: #d6e0f5;
  color: #52527a;
}
.room-icon {
  width: 25%;
  text-align: center;
}
.room-name {
  width: 70%;
}
.current-room {
  font-weight: bold;
}
/* chat messages and user list */
.chat-messages {
  width: 100%;
  min-height: 75%;
  border-bottom: 1px solid #d6d6ff;
  overflow: hidden;
}
.chat-messages-container {
  overflow: auto;
  height: 33em;
  border-right: 1px solid #d6d6ff;
}
.chat-users-container {
  overflow: auto;
  height: 30em;
  padding: 1em !important;
}
.chat-users-container ul {
  list-style-type: none;
}
.chat-users-container ul li {
  font-weight: bold;
  font-size: 0.8em;
  font-style: italic;
  padding: 0.2em;
}
.chat-bar {
  width: 100%;
  min-height: 5em;
}
.chat-bar-comment {
  width: 70%;
  float: left;
}
.chat-bar-actions {
  width: 28%;
  float: left;
  padding-top: 0.5em;
  font-size: 1.5em;
}
.chat-row {
  width: 100%;
  padding: 0.2em;
  position: relative;
}
.chat-row:hover {
  background-color: #d6e0f5;
  color: #52527a;
}
.chat-user,
.chat-message,
.chat-time,
pm-actions {
  padding: 0.5em !important;
}
.chat-user {
  font-weight: bold;
  font-size: 0.8em;
  font-style: italic;
  width: 20%;
  padding-left: 2em !important;
}
.chat-message {
  font-family: tahoma;
  font-size: 1em;
  width: 60%;
}
.chat-time {
  font-size: 0.7em !important;
  font-style: italic;
}
.pm-row {
  padding: 0.5em;
}
.pm-action {
  padding: 0.5em;
  font-size: 1.2em;
}
.message-sep {
  border-top: 1px solid #d6d6ff;
}
.unread {
  font-size: 0.6em !important;
  position: relative;
  top: -0.2em;
}
/* resize containers on smaller screens */
@media (max-width: 1000px) {
  #left-container {
    min-height: 8em;
  }
  #right-container {
    min-height: 40em;
  }
  .my-rooms {
    border-bottom: 1px solid #d6d6ff;
  }
  .chat-messages {
    width: 99%;
    min-height: 20em !important;
    border-bottom: 1px solid #d6d6ff;
    padding-left: 0.5em !important;
  }
  .chat-bar {
    width: 99%;
    min-height: 5em;
  }
  .chat-messages-container,
  .chat-users-container {
    height: 20em;
  }
  .chat-message {
    padding-left: 2em !important;
  }
}
