<div class="my-input-container" ng-class="{ 'validate-error': thiserror }">
    <div>{{mymessage}}</div>
    <span class="input-icon mdi mdi-{{myicon}}" data-ng-class="{ 'icon-dark': isdark }"></span>
    <!--    <paper-input-decorator label="{{myholder}}..." floatingLabel>-->
    <input type="{{mytype}}" placeholder="{{myholder}}..." class="my-input"
           data-ng-model="myvalue"/>
    <!--    </paper-input-decorator>-->
    <span class="input-bottom" data-ng-class="{ 'bottom-dark': isdark }">
        <span class="bottom-slider"></span>
    </span>
</div>