<div class="my-rooms">

    <span class="mdi mdi-chevron-down hidden-md hidden-lg rooms-nav rooms-show hand" 
          lx-tooltip="Show Rooms" tooltip-position="bottom"></span>
    <span class="mdi mdi-chevron-up rooms-nav rooms-hide hidden-sm hidden-xs hidden-md hidden-lg hand" 
          lx-tooltip="Hide Rooms" tooltip-position="bottom"></span>
    
    <div class="hidden-sm hidden-xs my-rooms-content">
        <h4>Rooms</h4>

        <div data-ng-repeat="room in rooms" >
            <div class="my-room hand" 
                 data-ng-click="changeRoom(room,$index)"
                 data-ng-class="{ 'current-room': currentRoom === $index }" >
                <span class="room-icon mdi mdi-{{room.icon}}"></span>
                <span class="room-name">{{room.name}}</span>
            </div>
        </div>

    </div>
</div>