<div class="my-rooms">

        <span class="rooms-nav hand mdi mdi-chevron-down hidden-md hidden-lg rooms-show" 
              my-tooltip data-placement="bottom" title="Show Rooms">
            <paper-ripple fit></paper-ripple>
        </span>
        <span class="rooms-nav hand mdi mdi-chevron-up rooms-hide hidden-sm hidden-xs hidden-md hidden-lg" 
              my-tooltip data-placement="bottom" title="Hide Rooms">
            <paper-ripple fit></paper-ripple>
        </span>
        
        
    <div class="hidden-sm hidden-xs my-rooms-content">
        <h4>Rooms</h4>

        <div data-ng-repeat="room in rooms" >
            <div class="my-room hand" 
                 data-ng-click="changeRoom(room,$index)"
                 data-ng-class="{ 'current-room': currentRoom === $index }" >
                <span class="room-icon mdi mdi-{{room.icon}}"></span>
                <span class="room-name">{{room.name}}</span>
                <paper-ripple fit></paper-ripple>
            </div>
        </div>

    </div>
</div>