/* rooms and navigate rooms on small screens */
.my-user {
  padding-bottom: 1em;
}
.rooms-nav {
  display: inline-block;
  width: 100%;
  padding: 0.1em;
  text-align: center;
  font-size: 1.5em !important;
}
.rooms-nav:hover {
  background-color: #33334c;
  color: #c2c2d6;
}
.my-rooms-content > h4 {
  color: #F0F0F5 !important;
}
.my-rooms {
  padding: 0.5em;
}
.my-room {
  margin-top: 0.5em;
  padding: 0.2em;
  width: 100%;
  height: 2em;
  position: relative;
  overflow: hidden;
}
.my-room:hover {
  background-color: #33334c;
  color: #c2c2d6;
}
.room-icon {
  width: 25%;
  text-align: center;
}
.room-name {
  width: 70%;
}
.current-room {
  font-weight: bold;
  background-color: #29293D;
}
